@use './variables' as *;

@mixin tablet {
    @media (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $breakpoint-desktop) {
        @content;
    }
}

@mixin mobile {
    @media (min-width: $breakpoint-mobile) {
        @content;
    }
}

@mixin mobile-header{
    font-size:1.5rem;
    line-height:2rem;
    font-weight: 700;
}

@mixin tablet-header{
    font-size:2.0625rem;
    line-height:2.75rem;
    font-weight: 700;
}

@mixin section-header{
    font-size:.75rem;
    line-height:1.25rem;
    font-weight: 700;
}


@mixin mobile-subheader{
    font-size:.8125rem;
    line-height:1.125rem;
    font-weight: 700;
}

@mixin tablet-subheader{
    font-size:.875rem;
    line-height:1.375rem;
    font-weight: 700;
}

@mixin mobile-body-copy{
    font-size:.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
}

@mixin tablet-body-copy{
    font-size:.875rem;
    line-height: 1.375rem;
    font-weight: 400;
}

@mixin mobile-labels{
    font-size:.625rem;
    line-height:1.25rem;
    font-weight:700;
}

@mixin tablet-labels{
    font-size:.75rem;
    line-height:1.25rem;
    font-weight:700;
}


