$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;
$breakpoint-mobile: 320px;
$black: #323232;
$blue: #0094FF;
$silver: #AFAFAF;
$white:#FFFFFF;
$darkBlack: #000000;
$darkBlue: #0065AD;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;
