@import "../../styles/partials/mixins";

.main{
    @include desktop{
        display:flex;
    }

    &__main{
        @include desktop{
            width:70%;
        }
    }

    &__sub{
        @include desktop{
            width:30%;
        }
    }
}