@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.main{
    @include desktop{
        display:flex;
        margin: 0 6rem;
    }

    &__main{
        @include desktop{
            width:70%;
        }
    }

    &__sub{
        @include desktop{
            width:30%;
        }
    }
}