@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.comment {
    &__top {
        width: 20%;
        @include tablet{
            width:auto;
        }
    }

    &__top--avatar {
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
    }

    &__container {
        display: flex;
        padding: 0 1rem;
        @include tablet{
            justify-content: space-between;
        }

        &--main {
            width: 80%;
            display: flex;
            flex-direction: column;

            @include tablet{
                margin-right: auto;
                margin-left: 20px;
            }
        }

        &--title {
            @include section-header;
            color: $silver;

        }
        &--flex{
            @include tablet{
                display:flex;
            }
        }

        &--input {
            width: 100%;
            padding: 0;
            resize: none;
            height: 4rem;
            background-color: $alabaster;
            border-radius: 0.25rem;
            @include mobile-body-copy;

            @include tablet{
                height:2rem;
            }

            &:focus {
                border: $blue 1px solid;
            }
        }



        &--button {
            width: 100%;
            height: 1.7rem;
            background-color: $blue;
            border: none;
            border-radius: 0.25rem;
            color: $white;
            display: flex;
            align-items: center;

            @include tablet{
                width:10rem;
                height:2rem;
            }

            &--text {
                margin-left: 50px;
            }
        }
    }
}