@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
.selectedVideo {

    &__description{
        @include mobile-body-copy;
    }

    &--container{
        margin: 0 1rem;
    }

    &--title{
        @include mobile-header;

    }
    &__subContainer {
        display: flex;

        &--channel{
            margin: 0.2rem 0.2rem;
            @include mobile-subheader;

        }
        &--time {
            margin: 0.2rem 0.2rem;
            @include mobile-body-copy;
            color: $silver;
            @include tablet{
                margin-left: 1rem;
            }
        }

        &--num {
            margin: 0.2rem 0.2rem;
            display: flex;
            flex-direction: column;
            @include mobile-body-copy;
            color: $silver;
            @include tablet{
                display:flex;
                flex-direction: row;
                margin-left:auto;
            }

            &-1 {
                margin-right: 2rem;
                @include tablet{
                    display:flex;
                    flex-direction: row;
                }
            }

            &-3{
                @include tablet{
                    margin-left: 1rem;
                }
            }
        }
        &--count {
            display: inline-block;
            margin: 0.2rem 0.2rem;
            @include mobile-body-copy;
            color: $silver;
        }
    }

    &__commentlength{
        @include mobile-subheader;
    }


}






