@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";
.selectedVideo {

    &__description{
        @include mobile-body-copy;
        margin: 1rem 0;
    }

    &--container{
        margin: 0 1rem;

        @include desktop{
            margin:0;
        }
    }

    &--title{
        @include mobile-header;
        margin: 0.5rem 0;

    }
    &__subContainer {
        display: flex;
        border-top: 1px solid $mercury;
        border-bottom: 1px solid $mercury;
        padding: .75rem 0;

        @include desktop{
            border-top:none;
            padding:0;
        }
        

        &--channel{
            margin-bottom:0.5rem;
            @include mobile-subheader;

        }
        &--time {
            // margin: 0.2rem 0.2rem;
            @include mobile-body-copy;
            color: $silver;
            @include tablet{
                margin-left: 1rem;
            }
        }

        &--num {
            // margin: 0.2rem 0.2rem;
            display: flex;
            flex-direction: column;
            margin-left: 60px;
            @include mobile-body-copy;
            color: $silver;
            @include tablet{
                display:flex;
                flex-direction: row;
                margin-left:auto;
            }

            &-1 {
                margin-right: 2rem;
                @include tablet{
                    display:flex;
                    flex-direction: row;
                }
            }
            &-2{
                margin-bottom:0.1rem;
            }

            &-3{
                @include tablet{
                    margin-left: 1rem;
                }
                @include desktop{
                    margin-right: 1rem;
                }
            }
        }
        &--count {
            display: inline-block;
            margin: 0.2rem 0.2rem;
            @include mobile-body-copy;
            color: $silver;
        }
    }

    &__commentlength{
        @include mobile-subheader;
        margin-bottom: 1rem;
    }

}






